@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Baloo Tamma 2', cursive;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: #707070;
  --secondary-color: #9e9e9e;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #01727498;
}

li {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
}